In [ ]:
import requests
from bs4 import BeautifulSoup
import random
import pandas as pd

In [ ]:
title = "data analyst"
location = "Australia"
start = 0
all_jobs = []

In [ ]:
while True:
    list_url = f"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords={title}&location={location}&start={start}"

    # Send request
    response = requests.get(list_url, headers={"User-Agent": "Mozilla/5.0"})

    # Parse the response
    list_soup = BeautifulSoup(response.text, "html.parser")
    page_jobs = list_soup.find_all("li")

    # Print start index and jobs found on this page
    print(f"Start index: {start}, Jobs found: {len(page_jobs)}")

    if len(page_jobs) == 0:
        print("No more jobs found, scraping finished.")
        break

    all_jobs.extend(page_jobs)
    start += 25  # move to next page

Start index: 0, Jobs found: 10
Start index: 25, Jobs found: 10
Start index: 50, Jobs found: 10
Start index: 75, Jobs found: 10
Start index: 100, Jobs found: 10
Start index: 125, Jobs found: 10
Start index: 150, Jobs found: 10
Start index: 175, Jobs found: 10
Start index: 200, Jobs found: 10
Start index: 225, Jobs found: 10
Start index: 250, Jobs found: 10
Start index: 275, Jobs found: 10
Start index: 300, Jobs found: 10
Start index: 325, Jobs found: 10
Start index: 350, Jobs found: 10
Start index: 375, Jobs found: 10
Start index: 400, Jobs found: 10
Start index: 425, Jobs found: 10
Start index: 450, Jobs found: 10
Start index: 475, Jobs found: 10
Start index: 500, Jobs found: 10
Start index: 525, Jobs found: 10
Start index: 550, Jobs found: 10
Start index: 575, Jobs found: 10
Start index: 600, Jobs found: 10
Start index: 625, Jobs found: 10
Start index: 650, Jobs found: 10
Start index: 675, Jobs found: 10
Start index: 700, Jobs found: 10
Start index: 725, Jobs found: 10
Start index: 750, Jobs found: 10
Start index: 775, Jobs found: 10
Start index: 800, Jobs found: 10
Start index: 825, Jobs found: 10
Start index: 850, Jobs found: 10
Start index: 875, Jobs found: 10
Start index: 900, Jobs found: 10
Start index: 925, Jobs found: 10
Start index: 950, Jobs found: 10
Start index: 975, Jobs found: 10
Start index: 1000, Jobs found: 0
No more jobs found, scraping finished.

In [ ]:
id_list = []
skill_keywords = ["Python", "SQL", "Excel", "Power BI", "Tableau", "R", "Machine Learning",
                  "Communication", "Data Visualization", "Statistics", "ETL", "Azure", "AWS", "Google Cloud"]

In [ ]:
id_list = []

for job in all_jobs:
    base_card_div = job.find("div", {"class": "base-card"})
    if base_card_div and base_card_div.get("data-entity-urn"):
        job_id = base_card_div.get("data-entity-urn").split(":")[3]
        print(job_id)
        id_list.append(job_id)

4291080502
4278720962
4279997293
4281532130
4289813268
4291560097
4278792395
4288516909
4281151968
4220599987
4288724158
4291228115
4282105076
4262326983
4288155263
4281542130
4287118450
4291554535
4289749722
4287360242
4290567120
4220902567
4283860911
4281302866
4290004964
4291348352
4288318158
4220903441
4283492035
4273297800
4271764946
4290674351
4264320839
4288724154
4283476842
4274601885
4285780885
4280147164
4290671618
4286253993
4280011394
4257669659
4280750786
4273539019
4288370326
4255687707
4285225710
4283161481
4227270377
4246251556
4287334691
4278733643
4157816699
4291304315
4288723679
4291264713
4279274991
4278070410
4279275849
4291262727
4266025068
4279274992
4241856077
4282728875
3778387011
4290814843
4286907781
4287925481
4284424569
4240286535
4146526265
4289203008
4289452049
4291012508
4284044906
4287843932
4288655919
4290532684
4279953728
4288744007
4273383270
4288722789
4287026772
4286634703
4285817312
4288859388
4278750498
4289443052
4286758592
4263357183
4287313178
4290527298
4289341529
4288833863
4291055534
4288445084
4283351614
4289179753
4264330813
4287928418
4291000033
4290109254
4283357391
4288532331
4283211825
4289448475
4287688565
4283107050
4204042127
4288664845
4285815218
3778387010
3684657727
4269505990
4278467830
4289435596
4287835605
4288733186
4291396983
4278742965
4250715682
4280138176
4281253740
4289916418
4279862653
4184128323
4289433770
4281111325
4291530066
4283215287
4289433769
4288695961
4254396889
4287827789
4291524331
4289734046
4289435631
4275054336
4288695975
3778383635
4277465854
4266895660
4277481478
4287784198
4288010356
4291384097
4268942729
4291520967
4287849906
4284740852
4278009830
4280132942
4288902038
4288695986
4288902053
4288903026
4266893979
4210850733
4285370484
4260784360
4282480918
4288734602
4288699600
4237554890
4280703750
4288904002
4289412389
4287843472
4254133026
4279948711
4288082154
4288900534
4288901298
4291227971
4286470674
4277968642
4284071666
4286434984
4291296554
4290648511
4220901796
4289476233
4281343951
4288687846
4285833009
4260507147
4260504452
4279287092
4287318543
4291296555
4277108621
4290983209
4261132406
4288226280
4291045417
4288748560
4288726709
4275013366
4287806120
4290186737
4288514799
4291510901
4275610040
4286441110
4242286312
4268577609
4291235734
4275607158
4288900496
4283323596
4283092917
4281146554
4291033826
4283388631
4288753391
4284079644
4281303257
4287851004
4288330175
4282224750
4250142798
4281988307
4291500773
4278873076
4287802006
4289460901
4275654267
4281132585
4286823841
4291227345
4291533295
4285092715
4275080661
4283300428
4278295091
4254331034
4035928371
4290215070
4249446938
4277465828
4268569457
4285529365
4286626448
4279931303
4291086899
4284888765
4280015713
4284954252
4279430492
4280540946
3987960752
4288605396
4275086151
4290563536
4224323949
4221458101
4192371134
4289763502
4288295210
4261911019
4281134742
4286605367
4289198760
4291805010
4278664722
4287852276
4281192793
4289738760
4291535301
4286381833
4289837864
4256646995
4279797348
4281125922
4283009288
4278474870
4265407382
4291032130
4288111092
4288095275
4284940507
4277133530
4288323096
4278693784
4288722980
4283858949
4267633897
4284113705
4288832579
4285206105
4290655733
4284805626
4101867598
4288365086
4291006937
4278480037
4270152655
4288723577
4282497355
4286631762
4284763018
4289224784
4289734747
4289679153
4183089102
4253140729
4285210106
4284169595
4288719981
4291017275
4291036321
4280524532
4290652148
4220592402
4284069437
4286288815
4260498587
4273758567
4272805846
4287852211
4290642334
4291677661
4289692349
4288629021
4287328095
4258188284
4288017807
4291063445
4273527895
4217734334
4281631524
4285070772
4276143284
4273722279
4281604300
4287835194
4259845260
4195426181
4289806607
4288703386
4289200269
4281902821
4288739439
4283331479
4260162184
4286409726
4289373313
4288191199
4289436095
4281546761
4265915008
4250145315
4291530148
4283354490
4259121022
4278473359
4286384151
4257237838
4272135165
4288325813
4291501677
4283499791
4289499004
4285080861
4284873423
4290977815
4278487180
4282492090
4290539780
4280554201
4279680379
4281601571
4264302855
4284015241
4290638656
4287853064
4287847074
4289691798
4291640340
4285244967
4289208664
4287845600
4264253552
4288725785
4280173338
4278038161
4289687627
4102877334
4287127279
4257591704
4290679976
4282803488
4281549140
4263219018
4288856970
4277131899
4291078986
4289159671
4288741904

In [ ]:
job_list = []
import re

# Loop through the list of job IDs and get each URL
for job_id in id_list:
    # Construct the URL for each job using the job ID
    job_url = f"https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}"

    # Send a GET request to the job URL and parse the reponse
    job_response = requests.get(job_url)
    print(job_response.status_code)
    if job_response.status_code != 200:
        break
    job_soup = BeautifulSoup(job_response.text, "html.parser")

     # Create a dictionary to store job details
    job_post = {}

    # Try to extract and store the job title
    try:
        job_post["job_title"] = job_soup.find("h2", {"class":"top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title"}).text.strip()
    except:
        job_post["job_title"] = None


    try:
        job_post["Location"] = job_soup.find("span", {"class":"topcard__flavor topcard__flavor--bullet"}).text.strip()
    except:
        job_post["Location"] = None


    try:
        skills_section = job_soup.find("div", {"class": "show-more-less-html__markup show-more-less-html__markup--clamp-after-5 relative overflow-hidden"})
        skills_list = []

        if skills_section:
            desc_text = skills_section.get_text(" ", strip=True)

            # Predefined list of common skills
            skill_keywords = [
                "Python", "R", "SQL", "Excel", "Power BI", "Tableau",
                "Machine Learning", "Statistics", "ETL", "AWS", "Azure", "Snowflake",
                "Communication", "Problem-solving", "Data Visualization"
            ]

            # Search for skills inside description
            for skill in skill_keywords:
                if re.search(rf"\b{skill}\b", desc_text, re.IGNORECASE):
                    skills_list.append(skill)

        job_post["skills"] = skills_list if skills_list else None
    except:
        job_post["skills"] = None


    try:
    # Get job description text
        job_desc_tag = job_soup.find("div", {"class": "show-more-less-html__markup"})
        job_desc = job_desc_tag.get_text(" ", strip=True) if job_desc_tag else ""

        # Extract salary using regex
        salary_match = re.search(
            r"(\$[0-9]{2,3}[,0-9]*\s*(?:-\s*\$[0-9]{2,3}[,0-9]*)?\s*(?:k|K)?|AUD\s*[0-9,]+(?:\s*-\s*AUD\s*[0-9,]+)?)",
            job_desc,
            re.IGNORECASE
        )

        if salary_match:
            job_post["salary"] = salary_match.group(0)
        elif "competitive salary" in job_desc.lower():
            job_post["salary"] = "Competitive salary"
        else:
            job_post["salary"] = None

    except Exception as e:
        job_post["salary"] = None


    # Try to extract and store the company name
    try:
        job_post["company_name"] = job_soup.find("a", {"class": "topcard__org-name-link topcard__flavor--black-link"}).text.strip()
    except:
        job_post["company_name"] = None

    # # Try to extract and store the time posted
    # try:
    #     job_post["time_posted"] = job_soup.find("span", {"class": "posted-time-ago__text topcard__flavor--metadata"}).text.strip()
    # except:
    #     job_post["time_posted"] = None

    # # Try to extract and store the number of applicants
    # try:
    #     job_post["num_applicants"] = job_soup.find("span", {"class": "num-applicants__caption topcard__flavor--metadata topcard__flavor--bullet"}).text.strip()
    # except:
    #     job_post["num_applicants"] = None


    # Append the job details to the job_list
    job_list.append(job_post)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
429

In [ ]:
job_list

[{'job_title': 'Senior Data Analyst',
  'Location': 'North Sydney, New South Wales, Australia',
  'skills': ['Python', 'SQL', 'Excel', 'Power BI', 'Tableau', 'Communication'],
  'salary': None,
  'company_name': 'NielsenIQ'},
 {'job_title': 'Data Analyst',
  'Location': 'Melbourne, Victoria, Australia',
  'skills': ['Python', 'R', 'SQL', 'Power BI', 'Tableau', 'Problem-solving'],
  'salary': None,
  'company_name': 'carsales'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Python', 'R', 'SQL', 'Power BI', 'Tableau', 'Communication'],
  'salary': '$500 ',
  'company_name': 'Hays'},
 {'job_title': 'Product Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Tableau'],
  'salary': None,
  'company_name': 'Tata Consultancy Services'},
 {'job_title': 'Junior Data Operations Analyst - Hybrid',
  'Location': 'Southbank, Victoria, Australia',
  'skills': ['Python', 'SQL', 'Excel', 'Problem-solving'],
  'salary': 'aud,',
  'company_name': 'Experian Asia Pacific'},
 {'job_title': 'Data Analyst',
  'Location': 'New South Wales, Australia',
  'skills': ['Python', 'SQL', 'Excel'],
  'salary': '$110,000 - $130,000 ',
  'company_name': 'Searchability®'},
 {'job_title': 'Data Analyst',
  'Location': 'Canberra, Australian Capital Territory, Australia',
  'skills': ['Python', 'R', 'SQL', 'Excel', 'Power BI', 'Problem-solving'],
  'salary': '$99k',
  'company_name': 'Indigeco Pty Ltd'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Python', 'R', 'Excel', 'Power BI', 'Communication'],
  'salary': '$90,000 ',
  'company_name': 'Aurora Education Foundation'},
 {'job_title': 'Data Analyst',
  'Location': 'Perth, Western Australia, Australia',
  'skills': ['Python',
   'R',
   'SQL',
   'Power BI',
   'Machine Learning',
   'Statistics',
   'Snowflake',
   'Problem-solving'],
  'salary': '$214 ',
  'company_name': 'AFG'},
 {'job_title': 'Data Analyst',
  'Location': 'Australia',
  'skills': ['Statistics'],
  'salary': '$40',
  'company_name': 'DataAnnotation'},
 {'job_title': 'Data Analyst',
  'Location': 'New South Wales, Australia',
  'skills': ['Python',
   'SQL',
   'Machine Learning',
   'Snowflake',
   'Communication',
   'Data Visualization'],
  'salary': '$2000 ',
  'company_name': 'Hatch'},
 {'job_title': 'Insights Analyst',
  'Location': 'Docklands, Victoria, Australia',
  'skills': ['SQL', 'Excel', 'Communication', 'Problem-solving'],
  'salary': None,
  'company_name': 'MYER'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['SQL', 'Communication'],
  'salary': 'Competitive salary',
  'company_name': 'hipages Group'},
 {'job_title': 'Senior Data Analyst',
  'Location': 'Melbourne, Victoria, Australia',
  'skills': ['Python', 'SQL', 'Power BI', 'Snowflake'],
  'salary': None,
  'company_name': 'Flybuys'},
 {'job_title': 'Reporting & Insights Analyst (PowerBI & Excel)',
  'Location': 'Altona North, Victoria, Australia',
  'skills': ['Excel', 'Power BI', 'Communication'],
  'salary': None,
  'company_name': 'Toyota Motor Corporation Australia'},
 {'job_title': 'Business Intelligence Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['SQL',
   'Power BI',
   'Tableau',
   'AWS',
   'Snowflake',
   'Communication',
   'Problem-solving'],
  'salary': 'Competitive salary',
  'company_name': 'Finsure'},
 {'job_title': 'Power BI and Analytics',
  'Location': 'Perth, Western Australia, Australia',
  'skills': ['Power BI',
   'AWS',
   'Snowflake',
   'Communication',
   'Data Visualization'],
  'salary': None,
  'company_name': 'Infosys'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Python', 'SQL', 'Machine Learning', 'Communication'],
  'salary': '$120',
  'company_name': 'Talent Insights Group'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Python', 'SQL', 'Excel', 'Power BI'],
  'salary': None,
  'company_name': 'Avant Mutual'},
 {'job_title': 'Data and Reporting Analyst',
  'Location': 'Canberra, Australian Capital Territory, Australia',
  'skills': ['Python', 'R', 'SQL', 'Excel', 'Statistics', 'Communication'],
  'salary': None,
  'company_name': 'Talent'},
 {'job_title': 'Business Intelligence Analyst',
  'Location': 'Melbourne, Victoria, Australia',
  'skills': None,
  'salary': None,
  'company_name': 'Probe Group'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['Statistics'],
  'salary': '$40',
  'company_name': 'DataAnnotation'},
 {'job_title': 'Data and Analytics Specialist',
  'Location': 'Virginia, South Australia, Australia',
  'skills': ['SQL',
   'Power BI',
   'Machine Learning',
   'Statistics',
   'Communication'],
  'salary': None,
  'company_name': 'Mitolo Family Farms'},
 {'job_title': 'Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': None,
  'salary': None,
  'company_name': 'PayTech Group'},
 {'job_title': 'Senior Data Analyst',
  'Location': 'Sydney, New South Wales, Australia',
  'skills': ['SQL', 'ETL'],
  'salary': '$700',
  'company_name': 'Ommi Solutions'},
 {'job_title': 'Insight Junior Analyst',
  'Location': 'Piccadilly, South Australia, Australia',
  'skills': ['Excel', 'Communication'],
  'salary': None,
  'company_name': 'JIM - Jobs In Manchester'},
 {'job_title': 'Data Analyst',
  'Location': 'Melbourne, Victoria, Australia',
  'skills': ['Python', 'R', 'Power BI', 'Azure', 'Problem-solving'],
  'salary': '$95,799 - $104,420 ',
  'company_name': 'City of Port Phillip'}]

In [ ]:
# Create a pandas DataFrame using the list of job dictionaries 'job_list'
df = pd.DataFrame(job_list)
df

,job_title,Location,skills,salary,company_name
0,Senior Data Analyst,"North Sydney, New South Wales, Australia","[Python, SQL, Excel, Power BI, Tableau, Commun...",None,NielsenIQ
1,Data Analyst,"Melbourne, Victoria, Australia","[Python, R, SQL, Power BI, Tableau, Problem-so...",None,carsales
2,Data Analyst,"Sydney, New South Wales, Australia","[Python, R, SQL, Power BI, Tableau, Communicat...",$500,Hays
3,Product Data Analyst,"Sydney, New South Wales, Australia",[Tableau],None,Tata Consultancy Services
4,Junior Data Operations Analyst - Hybrid,"Southbank, Victoria, Australia","[Python, SQL, Excel, Problem-solving]","aud,",Experian Asia Pacific
5,Data Analyst,"New South Wales, Australia","[Python, SQL, Excel]","$110,000 - $130,000",Searchability®
6,Data Analyst,"Canberra, Australian Capital Territory, Australia","[Python, R, SQL, Excel, Power BI, Problem-solv...",$99k,Indigeco Pty Ltd
7,Data Analyst,"Sydney, New South Wales, Australia","[Python, R, Excel, Power BI, Communication]","$90,000",Aurora Education Foundation
8,Data Analyst,"Perth, Western Australia, Australia","[Python, R, SQL, Power BI, Machine Learning, S...",$214,AFG
9,Data Analyst,Australia,[Statistics],$40,DataAnnotation
10,Data Analyst,"New South Wales, Australia","[Python, SQL, Machine Learning, Snowflake, Com...",$2000,Hatch
11,Insights Analyst,"Docklands, Victoria, Australia","[SQL, Excel, Communication, Problem-solving]",None,MYER
12,Data Analyst,"Sydney, New South Wales, Australia","[SQL, Communication]",Competitive salary,hipages Group
13,Senior Data Analyst,"Melbourne, Victoria, Australia","[Python, SQL, Power BI, Snowflake]",None,Flybuys
14,Reporting & Insights Analyst (PowerBI & Excel),"Altona North, Victoria, Australia","[Excel, Power BI, Communication]",None,Toyota Motor Corporation Australia
15,Business Intelligence Analyst,"Sydney, New South Wales, Australia","[SQL, Power BI, Tableau, AWS, Snowflake, Commu...",Competitive salary,Finsure
16,Power BI and Analytics,"Perth, Western Australia, Australia","[Power BI, AWS, Snowflake, Communication, Data...",None,Infosys
17,Data Analyst,"Sydney, New South Wales, Australia","[Python, SQL, Machine Learning, Communication]",$120,Talent Insights Group
18,Data Analyst,"Sydney, New South Wales, Australia","[Python, SQL, Excel, Power BI]",None,Avant Mutual
19,Data and Reporting Analyst,"Canberra, Australian Capital Territory, Australia","[Python, R, SQL, Excel, Statistics, Communicat...",None,Talent
20,Business Intelligence Analyst,"Melbourne, Victoria, Australia",None,None,Probe Group
21,Data Analyst,"Sydney, New South Wales, Australia",[Statistics],$40,DataAnnotation
22,Data and Analytics Specialist,"Virginia, South Australia, Australia","[SQL, Power BI, Machine Learning, Statistics, ...",None,Mitolo Family Farms
23,Data Analyst,"Sydney, New South Wales, Australia",None,None,PayTech Group
24,Senior Data Analyst,"Sydney, New South Wales, Australia","[SQL, ETL]",$700,Ommi Solutions
25,Insight Junior Analyst,"Piccadilly, South Australia, Australia","[Excel, Communication]",None,JIM - Jobs In Manchester
26,Data Analyst,"Melbourne, Victoria, Australia","[Python, R, Power BI, Azure, Problem-solving]","$95,799 - $104,420",City of Port Phillip

In [ ]:
#Save data to CSV file
df.to_csv('Australian_Job_Market.csv', index=False)
from google.colab import files
files.download('Australian_Job_Market.csv')

In [ ]:
print(df.shape)       # number of rows & columns
print(df.columns)     # column names
print(df.head())      # first 5 rows
print(df.info())      # data types & missing values

(399, 5)
Index(['job_title', 'Location', 'skills', 'salary', 'company_name'], dtype='object')
                                 job_title  \
0                      Senior Data Analyst
1                             Data Analyst
2                             Data Analyst
3                     Product Data Analyst
4  Junior Data Operations Analyst - Hybrid

                                   Location  \
0  North Sydney, New South Wales, Australia
1            Melbourne, Victoria, Australia
2        Sydney, New South Wales, Australia
3        Sydney, New South Wales, Australia
4            Southbank, Victoria, Australia

                                              skills salary  \
0  [Python, SQL, Excel, Power BI, Tableau, Commun...   None
1  [Python, R, SQL, Power BI, Tableau, Problem-so...   None
2  [Python, R, SQL, Power BI, Tableau, Communicat...  $500
3                                          [Tableau]   None
4              [Python, SQL, Excel, Problem-solving]   aud,

                company_name
0                  NielsenIQ
1                   carsales
2                       Hays
3  Tata Consultancy Services
4      Experian Asia Pacific
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     57 non-null     object
 1   Location      57 non-null     object
 2   skills        52 non-null     object
 3   salary        18 non-null     object
 4   company_name  57 non-null     object
dtypes: object(5)
memory usage: 15.7+ KB
None

In [ ]:
total_rows = df.shape[0]
print(f"Total rows: {total_rows}")

# Method 2: Using len()
total_rows = len(df)
print(f"Total rows: {total_rows}")

Total rows: 399
Total rows: 399